#test1.list-group{
  width: 300px;
  float: left;
  right: 315;

}
#test2{
  width : 200px;
  float: right;
}
#groups123{
  width: 900px;
  height:400px;
}

.glyphicon glyphicon-star{
  color: yellow;
}
