#number-input {
  margin-top: 10px;
  margin bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#tele-icon {
  font-size: 35px;
  margin-bottom: -6px;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
  color: green;
}

#contact-pic {
  margin-left: -25px;
  margin-top: -10px;
  margin-bottom: -5px
}

.contact-searcher:hover {
  background-color: white;
}

#whole-contactbox {
  width: 60%;
  min-width: 475px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-left: -5Px;
  margin-right: 10px;
}
